
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
}

header {
  font-size: 2rem;
  background-color: purple;
  color: white;
  font-weight: 900;
  padding: 0.5em;
}

.counter {
  margin-top: 1em;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.counter > .btn {
  padding: 0.5em 1em;
  outline: none;
  border: none;
  color: white;
  background-color: purple;
  font-weight: bold;
}

.count-box {
  margin: 1em auto;
  padding: 1em;
  border: 1px solid purple;
  width: 50%;
}

.message {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
}

.name-section {
  margin-top: 1rem;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}

.name-section > p {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.form-paragraph {
  margin-bottom: 1em;
}

.input-group {
  width: 50%;
}

.input-group + .input-group {
  margin-top: 1em;
}

.btn-submit {
  margin-top: 1em;
  outline: none;
  border: none;
  color: white;
  background-color: purple;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-weight: bold;
}

.btn-submit + .btn-submit {
  margin-left: 1em;
}

.btn-group {
}